.topBar{
   background-color: #63B559;
   
   width: 100vw;
   height: 10vh;

   display: flex;
   justify-content: flex-start;
   align-items: flex-end;
}

.topBar button{
    background: none;
    border: none;
    color: white;
    font-size:1.3rem;
    padding: 0.5% 0.5% 0.5% 0;
}

.topBar button:first-child{
    margin-left: 5%;
}

.topBar button:hover{
    color: #91CB8A;
    cursor: pointer;
}

.buttonSelected{
    background-color: white !important;
    color: black !important;
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
}

.topBar button i{
    padding-left: 10px;
    padding-right: 10px;
}
